.contact {

    &__header {}

    &__form {}

    &__row {
        display: flex;

        :first-child {
            margin-right: 40px;
        }
    }

    &__input {
        max-width: 340px;
        width: 100%;
        height: 70px;
        background: $inpColor;
        padding: 0 20px;
        border-radius: 5px;
        font-size: 16px;
    }

    &__textarea {
        width: 100%;
        background: $inpColor;
        resize: none;
        padding: 20px;
        font-size: 16px;
        border-radius: 5px;
        margin: 45px 0;
    }

    &__btn {
        width: 100%;
        height: 70px;
        background: $btnColor;
        color: $headerColor;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        transition: .3s background;

        &:hover {
            background: $btnHover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 70px;
        background: $mainColor;
        color: $headerColor;

        .contact__text {
            max-width: 330px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__text {}
}

@media screen and (max-width: 1050px) {
    .contact {
        &__info {
            padding: 70px 20px 0 20px;
        }

        .content__text {
            &.red-line-l {
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0);
                    bottom: 30px;
                    width: 130px;
                    height: 2px;
                    background: $btnColor;
                }
            }
        }

        .content__part {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }


}