.header {
    width: 100%;
    position: fixed;
    z-index: 20000;
    height: 90px;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__btn {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 25px;
        height: 100%;

        cursor: pointer;
        transition: .3s background;

        &:hover {
            background: $btnColor;
        }

        &--active {
            background: $btnColor;

            &:hover {
                background: $btnHover;
            }
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #313030;
        color: $headerColor;
        height: 100%;
    }
}

@media screen and (max-width: 512px) {
    .shadow {
        transition: .3s;

        &.active {
            top: 0;
        }
    }


    .header {
        .container {
            justify-content: flex-end;
        }

        &__btn {
            display: flex;
            align-items: center;
            height: 100px;
            width: 100%;
            color: $headerColor;
        }

        &__burger {
            display: flex;
            align-items: center;
            position: relative;
            width: 35px;
            height: 25px;
            margin-right: 20px;

            span {
                background: $headerColor;
                height: 2px;
                width: 35px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                background: $headerColor;
                height: 2px;
                width: 35px;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                background: $headerColor;
                height: 2px;
                width: 35px;
            }
        }

        &__nav {
            flex-direction: column;
            justify-content: flex-start;
            position: fixed;
            top: -100%;
            left: 0;
            max-width: 500px;
            width: 100%;
            height: auto;
            z-index: 19000;
            transition: .3s;

            background: $mainColor;

            &.active {
                top: 90px;
            }
        }
    }
}