$mainColor: #313030;
$headerColor: #f7f7f8;
$btnHover: #ff3f40;
$fzText: 16px;
$fzTitle: 42px;
$fzSubTitle: 24px;

.container {
    max-width: 1250px;
    margin: 0 auto;
}

body {
    font-size: $fzText;
    font-family: "Roboto", sans-serif;
    color: $mainColor;
    letter-spacing: 1.3px;
}